@use "./styles/mixins" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  @include tablet-desktop {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
}
p {
  font-size: 1rem;
  margin: 0;
}

input {
  width: 160px;
  min-width: 70px;
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
}

.App {
  animation: opacityIncrease 1s;
  background-color: #26282f;

  &__audio {
    width: 100vw !important;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__loading-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #26282f;
  }

  &__loading-page-disappear {
    @extend .App__loading-page;
    animation: opacityDecrease 1s;
    position: absolute;
    z-index: 0;
  }

  &__heading {
    margin-top: 0;
    background-color: rgba(255, 255, 240, 0.7);
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }

  &__btn {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    color: white;
    transition: transform 0.5s;
    width: 160px;
    min-width: 80px;
    &:hover {
      transform: scale(1.03);
    }
    &:active {
      box-shadow: 0px 1px 16px -6px rgba(0, 0, 0, 0.181);
      transform: scale(0.95);
    }
  }

  &__btn-pet,
  &__input-pet {
    width: 100%;
  }

  &__input-pet {
    height: 47px;
  }

  &__flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 1.5rem;
    @include tablet-desktop {
      justify-content: start;
      gap: 15px;
    }
    @include desktop {
      gap: 26.6px;
    }
  }

  &__flex-item {
    border: 1px rgba(128, 128, 128, 0.212) solid;
    padding-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0px 1px 16px -6px rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 240, 0.5);
    width: 60%;
    transition: transform 0.5s;
    &:hover {
      filter: brightness(1.1);
      transform: scale(1.05) !important;
    }
    p {
      font-size: 1.5rem;
    }
    input {
      margin-top: 0.8rem;
    }
    @include tablet-desktop {
      width: calc((100% / 3) - 10px);
    }
    @include desktop {
      width: calc((100% / 4) - 20px);
    }
    @include tablet-desktop {
      padding-bottom: 1rem;
    }
  }

  &__pet-owner-infor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0 2rem;
    @include tablet-desktop {
      padding: 0 1rem;
    }
  }

  &__add-pet-wrapper {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    input {
      padding-left: 1rem;
    }
    @include tablet-desktop {
      margin-bottom: 1.5rem;
    }
  }

  &__color-theme-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
    @include tablet-desktop {
      margin-bottom: 1.5rem;
    }
  }

  &__img {
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__cat {
    padding: 0 1rem;
    position: relative;
    @include tablet-desktop {
      padding: 0 2rem;
    }
  }

  &__cat-containers {
    position: relative;
    padding-top: 2rem;
    z-index: 3;
    @include desktop {
      padding-top: 3rem;
      margin: 0 auto;
      max-width: 1216px;
    }
  }

  &__video-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
  }

  &__video-color {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 255, 0.1),
      rgba(0, 0, 255, 0.1)
    );
  }
}
